*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    padding: 20px;
}

  
    background-color: black;

.card{
    width: 350px;
    height: 400px;
    border-radius: 15px;
    background-color: crimson;
    /* overflow: hidden; */
    position: relative;
    display: flex;
    overflow: hidden;
    transition: all ease 0.3s;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    
    
}

.bottom{
    height: 40%;
    position: absolute;
    width: 100%;
    bottom: -40%;
    transition: all ease 0.25s;
    background: linear-gradient(rgba(244, 242, 242, 0.271) ,#8b0002);
}

.card:hover .bottom{
    bottom: 0%;
}
.bottom h1{
    color: rgb(255, 255, 255);
    padding: 20px ;
    align-items: center
    jsustify-content: center;
    text-align: center;
    transition: all ease 0.3s;
    text-shadow: 2px 5px 4px black;
 }
.bottom h1:hover{
    color: rgb(0, 156, 245);
    cursor: pointer;
}
.bottom p{
    color: rgb(255, 255, 255);
    /* padding: 20px ; */
    align-items: center
    jsustify-content: center;
    text-align: center;
    transition: all ease 0.3s;
    text-shadow: 2px 5px 4px black;
}   
.bottom p:hover{
    font-size: large;
    color: rgb(0, 156, 245);
    cursor: pointer;
}
.bottom h3 {
    color: white;
    display: flex;
    padding: 10px;
    justify-content: center;   /* horizontally center icons */
    align-items: center;       /* vertically center icons */
    gap: 15px;                 /* space between icons */
    
}
.bottom h3:hover{
    color: rgb(0, 156, 245);
    cursor: pointer;
}